<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./CSS/all.css" />
    <link rel="stylesheet" type="text/css" href="./CSS/accueil.css" />
    <title>Portail Étudiant</title>
  </head>
  <body>
    <div class="container">
      <div class="" id="banner">
        <h2 id="bannerText">Accueil</h2>
      </div>
    </div>
  </body>
</html>
