<!DOCTYPE html>
<html>
  <div class="">
    <h2>Register</h2>

    <div class="form">
      <input type="text" placeholder="Username" name="un" />
      <input type="password" placeholder="Password" name="pw" />
      <button>Sign in</button>
      <a href="/login"> <p>Already have? Login</p></a>
    </div>
  </div>
</html>
