<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="./javascript/Enseignant/CorrigerExercice.js"></script>
    <script type="text/javascript" src="./javascript/accueil.js"></script>
    <link rel="stylesheet" type="text/css" href="./CSS/all.css" />
    <link rel="stylesheet" type="text/css" href="./CSS/Enseignant/CorrigerExercice.css" />
    <link rel="stylesheet" type="text/css" href="./CSS/accueil/accueil.css" />
    <title>Portail Étudiant</title>
  </head>
  <body onload="onPageLoad()">
    
    <div class="" id="banner">
      <h2 id="bannerText" onclick="toAccueil()">Voir mes élèves</h2>
    </div>
    
    <div class="container">
      <div class="row">
        <button onclick="back()" type="button" class="btn btn-success">
            Back
          </button>
          <button onclick="logout()" type="button" class="btn btn-secondary">
            Logout
          </button>
      </div>

      <h5 class="row">
          Liste des exercices des étudiants
      </h5>

      <div id="allSection">
          
      </div>

      </div>
    </div>
  </body>
</html>
