<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="./javascript/Etudiant/exercice.js"
    ></script>
    <script type="text/javascript" src="./javascript/accueil.js"></script>
    <link rel="stylesheet" type="text/css" href="./CSS/all.css" />
    <link rel="stylesheet" type="text/css" href="./CSS/accueil/accueil.css" />
    <link rel="stylesheet" type="text/css" href="./CSS/Etudiant/exercice.css" />
  </head>

  <body onload="onPageLoad()">
    <div class="" id="banner">
      <h2 id="bannerText" onclick="toAccueil()">Exercice</h2>
    </div>

    <div class="container">
      <div class="row">
        <button onclick="back()" type="button" class="btn btn-success">
          Back
        </button>
        <button onclick="logout()" type="button" class="btn btn-secondary">
          Logout
        </button>
      </div>

      <h5 id="titre">Voici mon titre</h5>
      <div class="row">

        <div class="col-sm-6 middle_col">
          <h5>Énoncé</h5>
          <div class="form-group">
            <div id="enonce">
              this is my text
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <h5>Questions</h5>
          <div id="questionSection"></div>

        </div>

      </div>

      <div class="row">
        <button onclick="soumettre()" type="button" class="btn btn-success">
          Soumettre
        </button>
      </div>
    </div>
  </body>
</html>
