#banner{
    position:block;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    background-color: #6ccc6e;
}

#bannerText{
    padding: 10px;
    color: azure;
}

body {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }